@model StokTakipStajyer2.Models.ALT_DEPO

@{
    ViewBag.Title = "Alt Depo Güncelle";
    var statuOptions = new List<SelectListItem>
{
        new SelectListItem { Text = "True", Value = "true" },
        new SelectListItem { Text = "False", Value = "false" }
    };
}

<h2>Depo Güncelle</h2>

@using (Html.BeginForm("AltDepoGuncelle", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ALT_DEPO_ID)
    <div class="form-group">
        @Html.Label("Alt Depo Adı", htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(m => m.ALT_DEPO_ADI, new { @class = "form-control" })
    </div>
    <div>
        <label>Statü</label><br />
        @Html.DropDownListFor(m => m.STATU, statuOptions, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
