@model StokTakipStajyer2.Models.DEPO

@{
    ViewBag.Title = "Depo Güncelle";
    var statuOptions = new List<SelectListItem>
{
        new SelectListItem { Text = "True", Value = "true" },
        new SelectListItem { Text = "False", Value = "false" }
    };
}

<h2>Depo Güncelle</h2>

@using (Html.BeginForm("DepoGuncelle", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.DEPO_ID)
    <div class="form-group">
        <label for="DEPO_ADI">Depo Adı</label><br />
        @Html.TextBoxFor(m => m.DEPO_ADI, new { @class = "form-control", @placeholder = "Depo Adı" })
    </div>
    <div class="form-group">
        <label for="STATU">Statü</label><br />
        @Html.DropDownListFor(m => m.STATU, statuOptions, "Seçiniz", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.STATU, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success mt-3">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @TempData["ErrorMessage"]
    </div>
}
