@model StokTakipStajyer2.Models.KULLANICI
@{
    ViewBag.Title = "Giriş";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Giris", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-group">
    <label>Username</label><br />
    @Html.TextBoxFor(m => m.KUL_USERNAME)
    @Html.ValidationMessageFor(m => m.KUL_USERNAME)
</div>

<div class="form-group">
    <label>Şifre</label><br />
    @Html.PasswordFor(m => m.KUL_SIFRE)
    @Html.ValidationMessageFor(m => m.KUL_SIFRE)
</div>

    <button type="submit" class="btn btn-primary">Giriş Yap</button>

    if (ViewBag.Mesaj != null)
    {
        <div class="alert alert-danger mt-2">
            @ViewBag.Mesaj
        </div>
    }
}

