@model StokTakipStajyer2.Models.KULLANICI

@{
    ViewBag.Title = "Kullanıcı Bilgileri";
}

<style>
    .info-label {
        font-weight: bold;
        color: black;
    }

    .info-value {
        color: black;
    }

    .username {
        color: blue;
        font-weight: normal;
    }
</style>

<div class="container">
    <div class="form-group">
        <h2>Hoş Geldiniz <span class="username">@Model.KUL_USERNAME</span>!</h2>
    </div>
    <div class="form-group">
        <label class="info-label">Adı</label>
        <p class="info-value">@Model.KUL_AD</p>
    </div>
    <div class="form-group">
        <label class="info-label">Soyadı</label>
        <p class="info-value">@Model.KUL_SOYAD</p>
    </div>
    <div class="form-group">
        <label class="info-label">Kullanıcı Statüsü</label>
        <p class="info-value">@Model.STATU</p>
    </div>
    <div class="form-group">
        <label class="info-label">Kullanıcı Tipi</label>
        <p class="info-value">@Model.KUL_TIP</p>
    </div>
</div>
